<section class="ui center aligned segment">
  <h2 class="ui header">
    <div class="content">    
        Contact Us
    </div>
  </h2>

  <div class="ui list">
    <div class="center aligned item">
      <i class="user icon"></i>
          The Playlist Guru's
    </div>
    
    <div class="center aligned item">
      <i class="marker icon"></i>
          Waterford, Ireland
    </div>
    
    <div class="center aligned item">
      <i class="mail icon"></i>
          playlistgurus@mail.com
    </div>
    
    <div class="center aligned item">
      <i class="desktop icon"></i>
          playlistgurus.com
    </div>
  </div>

<i class="facebook square icon"></i>
<i class="instagram square icon"></i>
<i class="twitter square icon"></i>
<i class="snapchat square icon"></i>

</section>